<!DOCTYPE html>
<html>
<head>
    <title>강의 목록</title>
</head>
<body>
    <h1>강의 목록</h1>
    <table border="1">
        <thead>
            <tr>
                <th>강의 ID(int)</th>
                <th>강의 이름(char)</th>
                <th>강사 ID(int)</th>
                <th>온/오프라인(bool)</th>
                <th>사전 강의(char)</th>
            </tr>
        </thead>
        <tbody>
            {% for lecture in homework %}
            <tr>
                <td>{{ lecture.instructor_id}}</td>
                <td>{{ lecture.name }}</td>
                <td>{{ lecture.instructor_id }}</td>
                <td>{{ lecture.is_online|yesno:"온라인,오프라인" }}</td>
                <td>{{ lecture.prerequisite }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
